:root {

    /* Set neon color */
    --neon-text-color: rgb(227, 228, 255);
    --neon-border-color: rgb(255, 0, 200);
}

@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #0ff,
            0.2rem 0.2rem 1rem var(--neon-border-color),
            0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            0 0 6rem var(--neon-border-color),
            0 0 8rem var(--neon-border-color),
            0 0 10rem var(--neon-border-color);            
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }
}

body{
	background: url(../img/stars.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    
}

.neon {
    text-shadow:
      0 0 5px #0ff,
      0 0 10px #fff,
      0 0 40px var(--neon-border-color),
      0 0 80px #0ff,
      0 0 90px var(--neon-border-color),
      0 0 150px #0ff;
    padding-bottom: 10%;
}

.dropdown li a img{
	width:40px;
	height:40px;
	float: right;
}

img{
	width:auto;
	max-height:100%;
}

#slides img{
	height: 600px;
}

.header{
    /*  background-image: linear-gradient(to right, black, rgb(59, 0, 59));*/
    background: url(../img/tijolo.jpg);
    background-repeat: repeat-x;
}
#logo {
    border-bottom: 2px solid black;
    padding: 30px 30px 30px 60px ;
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 0px;
}
#h1logo{
    color:var(--neon-text-color);
    animation: flicker 1.5s infinite alternate;

}

.navbar{
    z-index: 2; /* <-- Added */
}

#menu{
    background-color: black;
    position: sticky;
    top: 0;
}

#caixa-mae{  
    margin: 0% 10% 0% 10%;
	padding: 0% 0% 0% 0%;
}

.faixa{
    font-size: 400%;
    color:var(--neon-text-color);   
}
#slides{
    margin-bottom: 2%;
}